<h1>Scrabble Score</h1>

<p>Enter a word to calculate your total scrabble points.</p>

<form action='/results' method='get'>
  <div class="form-group">
    <label for="userWord">Enter word:</label>
    <input id="userWord" name="userWord" class="form-control" type="text">
  </div>

  <button type="submit" class="btn btn-info">Go!</button>
</form>
